---
layout: default
title: Resources - Linux Distributions

distros:
  - title: ASP Linux
    url: http://www.asp-linux.com
    description: |
      A 686 family (PIII, Celeron,etc) optimized distro out of
      Moscow (Russia, not Idaho). They claim to be 100% RH compatible,
      so using any RH RPM should ensure compatibility.

  - title: Debian GNU/Linux
    url: http://www.debian.org/
    description: |
      Screening router/Package filtering firewall all on a 486
      with no hard drive.  For the truly frugal

  - title: Immunix
    url: http://www.immunix.org
    description: |
      Security hardened Linux distribution.

  - title: LinuxISO
    url: http://www.linuxiso.org
    description: |
      Bootable CD images for the most popular Linux distributions.

  - title: Linux from Scratch
    url: http://www.linuxfromscratch.org/

  - title: Mandrake Linux
    url: http://www.mandrake.com/

  - title: RedHat Linux
    url: http://www.redhat.com/

  - title: RULE (Run Up2date Linux Everywhere) project
    url: http://www.rule-project.org/index.html

  - title: Slackware Linux
    url: http://www.slackware.com/
    description: Aims to be a Simple, Stable, Unix-like distribution

  - title: SuSE Linux Portal Knowledge
    url: http://portal.suse.de/en/

  - title: Turbolinux
    url: http://www.turbolinux.com/
    description: |
      Aimed at the large server market including Intel's new Itanium chip.

  - title: Ultralinux
    url: http://www.ultralinux.org/
    description: |
      Starting place to learn about Linux ports to machines running on
      the Sparc chip, as well as other Sun boxes.

  - title: Yellow Dog Linux
    url: http://www.yellowdoglinux.com
    description: |
      Distribution for PowerPC computers.

---

<ul>
  {% for resource in page.distros %}
    <li>
      <a href="{{resource.url}}">{{resource.title}}</a>
      {% if resource.description %}
        <br/>
        <font color="#004080" size="2">{{resource.description}}</font>
      {% endif %}
    </li>
  {% endfor %}
</ul>

<p>
  A more complete list of distributions can be found on the
  <a href="http://old.lwn.net/Distributions/">Linux Weekly News DistributionsWeb page.</a>
</p>

