 <!DOCTYPE div PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<div class="contentbody">
 <script type="text/javascript" language="JavaScript1.5">;
function not_empty (the_field)
{
  if (the_field.value == "")
    {
      alert ("The '" + the_field.title + "' field is required.");
      the_field.focus();
      return false;
    }
  return true;
}
 </script>

 <h1 style="color: red;" align="center">
  During early development of this searcher, only the RFC search will be enabled.
 </h1>

 <form class="searchform" id="searchform" action="<% $r->uri %>" method="get" name="SearchForm" onsubmit="return not_empty (SearchFor)">
  <fieldset>
   <legend><b>Search in</b></legend>
   <input type="radio" name="SearchIn" value="man"/><a href="/cgi-bin/man2html"><b>Linux Manual ("man") pages</b></a><br/>
   <input type="radio" name="SearchIn" value="inf"/><a href="/cgi-bin/info2www"><b>GNU TeXinfo Documentation</b></a><br/>
   <input type="radio" name="SearchIn" value="rfc" checked="checked"/><a href="/doc/RFC/rfc-index.xhtml"><b>Internet RFC's</b></a><br/>
   <input type="radio" name="SearchIn" value="how"/><a href="/doc/HOWTO/en-html/HOWTO-INDEX/index.html"><b>Linux HOWTO's</b></a><br/>
   <input type="radio" name="SearchIn" value="dcb" disabled="disabled" readonly="readonly"/><a href="/dc/"><b>doc-base entries</b></a><br/>
   <input type="radio" name="SearchIn" value="doc"/><a href="/doc/"><b>/doc/* Software Documentation</b></a><br/>
% if (defined $rh_result and $SearchIn eq 'doc') {
   <span style="padding-left: 2em;">limit document paths to
    <input type="text" name="FilePathFilter" value="<% $FilePathFilter %>" size="20" maxlength="64"/>
    <i>(perl regex)</i>
   </span><br/>
% }
   <input type="radio" name="SearchIn" value="lst" disabled="disabled" readonly="readonly"/>
   <a href="http://lists.pdxlinux.org/lurker/"><b>Mailing List Archives</b></a>
  </fieldset>
  <div style="margin: 0 0 0 0; padding: 0.5ex 0 0 0;"><!-- strut --></div>
  <fieldset>
   <legend><b>Search expression</b></legend>
   <input title="Search Expression" type="text" name="SearchFor" value="<% $SearchFor || 'dublin and metadata' %>" size="60" maxlength="128"/>
   <input style="margin-left: 1em;" type="checkbox" name="Stem" <% $StemChecked %> value="1"/><b title="Perform stemming (suffix stripping) on words during the search.  Words that end in the wildcard character are not stemmed.">Stem&nbsp;words</b>
   <br/>
  </fieldset>
  <div style="margin: 0 0 0 0; padding: 0.5ex 0 0 0;"><!-- strut --></div>
  <input type="hidden" name="MaxResults" value="100"/>
%#  <input type="hidden" name="Skip" value="<% $Skip %>"/>
  <input style="font-weight: bold; margin-left: 0.2em;" class="button" type="submit" value="Search" align="middle"/>
  <input style="font-weight: bold; margin-left: 1em;" class="button" type="reset" value="Reset Form" align="middle"/>
 </form>

% if (defined $rh_result and $rh_result->{ResultCount} > 0) {
%   my $first_is_displayed = undef;
\
 <p style="text-align: center; font-size: 110%; font-weight: bold;">
  The search returned <% $rh_result->{ResultCount} %> items.
 </p>

 <div class="resultlist">
%   foreach (@{$rh_result->{ResultList}}) {
%     if ($first_is_displayed) {
%     } else { $first_is_displayed = 1; }
  <div class="resultitem">
   <span class="rank"><% $_->{Rank} %></span>
   <a href="<% $_->{Path} %>"><% $_->{Title} %></a><br/>
   <span class="size"><% $_->{Size} %> bytes</span>\
%       if (defined $_->{Summary}) {
<br/>
   <div class="resultsummary">
    <% $_->{Summary}->as_html() %>
   </div>\
%          }

  </div>
%   }
 </div>
% }
</div>
%#------------------------------------------------------------------------------------------#%
<%method BROWSER_TITLE>Search</%method>
%#------
<%method TITLE>Search PLUG Online Resources</%method>
%#------

<%once>;
# #### ToDo: in the future, the "Search.pm" may change locations, since it is not really PLUG
# ####       specific. Also, these "use" statements belong in the ApacheHandler so that they are
# ####       loaded at server startup and thus shared by all apache processes.
#
use PLUG::Swish qw (Search);
use PLUG::RFC::Swish ();

use Data::Dumper;

my %SearchIn_map =
(man => {index_file => 'man.index',
	 # Todo: url => ..., label => ...
	},
 inf => {index_file => 'info.index'},
 rfc => {index_file   => 'RFC.index',
	 summarize_cb => \&PLUG::RFC::Swish::Summarize,
	},
 how => {index_file => 'HOWTO.index'},
 dcb => {},
 doc => {index_file => 'doc.index'},
 lst => {},
);
</%once>
%#------
<%args>
   $SearchIn   => 'rfc'
   $SearchFor  => undef
   $Stem       => 0
   $MaxResults => 100
   $Skip       => 0
   $FilePathFilter => ''
</%args>
%#------
<%init>;
#  my $max_option = sub
#    {
#      my $v = shift;
#      my $r = '<option ';
#      $r .= 'selected="selected" ' if $v == $MaxResults;
#      $r .= 'value="' . $v . '">' . $v . '</option>';
#      return $r;
#    };

my $StemChecked = '';
if ($Stem == 1)
  {
    $StemChecked = 'checked="checked"';
  }

my $rh_result;

if ($SearchFor ne '')
{
  my $success;
  ($rh_result, $success) = Search
    ($SearchFor,
     {swish_max_results  => $MaxResults,
      swish_skip_results => $Skip,
      swish_index_file   => $SearchIn_map{$SearchIn}->{index_file},
      swish_summarize_cb => $SearchIn_map{$SearchIn}->{summarize_cb},
     });
#   $r->log_error ('$success = '.$success);
#   $r->log_error ('$rh_result = '.join(',',%$rh_result));
#   $r->log_error ('$rh_result->{ResultList} = '.join(',',@{$rh_result->{ResultList}}));
}
</%init>
<%method STYLE>\
  <link href="/style/search.css" type="text/css" rel="stylesheet"/>
</%method>
%#------
<%method last_updated>
<!-- Created: Sun Jul 21 21:33:22 PDT 2002 -->
<!-- hhmts start -->
Last modified: Mon Jan  6 13:57:35 PST 2003
<!-- hhmts end -->
</%method>
%# Local variables:
%# mode: xml
%# mmm-classes: (mason embedded-css embedded-javascript)
%# mmm-classes: (mason embedded-javascript embedded-css)
%# sgml-omittag:t
%# sgml-shorttag:t
%# sgml-namecase-general:t
%# sgml-general-insert-case:lower
%# sgml-minimize-attributes:nil
%# sgml-always-quote-attributes:t
%# sgml-indent-step:1
%# sgml-indent-data:t
%# sgml-parent-document:nil
%# sgml-exposed-tags:nil
%# sgml-local-catalogs:("/etc/sgml/catalog")
%# sgml-local-ecat-files:("ECAT" "~/sgml/ECAT" "/usr/lib/sgml/ECAT" "/usr/local/lib/sgml/ECAT")
%# End:
